@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #120030;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Anybody', sans-serif;
}

#night{
  background: url("/img/background.png");
  background-size: cover;
}